<div class="mt-10">
  <h2 class="text-4xl font-bold border-b-2 py-2 border-black w-max mx-auto">
    Comments
  </h2>
</div>
<table class="w-full my-0 align-middle text-dark border-neutral-200 mt-10">
  <thead class="align-bottom">
    <tr class="font-semibold text-[0.95rem] text-secondary-dark">
      <th class="pb-3 text-center min-w-[50px]">ID</th>
      <th class="pb-3 text-center min-w-[175px]">User Name</th>
      <th class="pb-3 text-center min-w-[100px]">Body</th>
    </tr>
  </thead>
  <tbody>
    <tr
      class="border-b border-dashed last:border-b-0"
      *ngFor="let comment of comments"
    >
      <td class="p-3 pr-12">
        <span
          class="text-center align-baseline inline-flex px-4 py-3 mr-auto items-center text-[.95rem] leading-none text-primary bg-primary-light rounded-lg"
          >{{ comment.id }}</span
        >
      </td>
      <td class="p-3 pr-0">
        <span class="font-semibold text-light-inverse text-md/normal">{{
          comment.user.username
        }}</span>
      </td>

      <td class="p-3 pr-12">
        <span
          class="text-center align-baseline inline-flex px-4 py-3 mr-auto items-center text-[.95rem] leading-none text-primary bg-primary-light rounded-lg"
          >{{ comment.body }}</span
        >
      </td>
    </tr>
  </tbody>
</table>
